Package: com.thomz.hapticbuttons
Name: Haptic Buttons
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Add haptic feedbacks to your volume buttons
Maintainer: thomz
Author: thomz
Section: Tweaks
