Package: com.thomz.hapticbuttons
Name: Haptic Buttons
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: Add haptic feedbacks to your volume buttons
Maintainer: thomz
Author: thomz
Section: Tweaks
Icon: file:///Library/PreferenceBundles/HapticButtonsPrefs.bundle/iconFullSize.png
